table, td{
  border: 25px dashed black;
  border radius: 15px,25px,35px,45px;
  background-color: black;
  border-collapse: collapse;
  text-align: center;
}

button.zero{
  width:260;
}

button {
  background-color: deeppink;
  padding-right: 10%;
  display: inline-block;
  margin: auto;
  margin-left: 1%;
  margin-right:1%;
  height:3em;
  width:130px;
  font: "Comic Sans MS", cursive, sans-serif;
}

/* .row1 {
  background-color: blue;
}

.row2 {
  background-color: yellow;
}

.row3 {
  background-color: orange;
}

.row4 {
  background-color: purple;
}

.row5 {
  background-color: red;
} */
