table{
  border: 15px solid black;
  border radius: 10px,10px,10px,10px;
  background-color: skyblue;
  border-collapse: collapse;
  text-align: center;
}

#input {
  border: 10px solid red;
  margin: auto;
}

#button {
  height:100px;
  width:100px;
  font: "Comic Sans MS", emphasis, sans-serif;
  font-size: 20px;
  display: inline-block;
  background-color: white;
  color: violet;
  padding: 25px;
  border-color: violet;
  border-width: thick;
  border-radius: 50px;
  margin: 0px;
}

#button:hover {
  background-color: violet;
  color: white;
}

#buttonOperations {
  height:100px;
  width:100px;
  font: "Comic Sans MS", emphasis, sans-serif;
  font-size: 20px;
  display: inline-block;
  background-color: gold;
  color: white;
  padding: 25px;
  border-color: #DAA520;
  border-width: thick;
  border-radius: 50px;
  margin: 0px;
}

#buttonOperations:hover {
  background-color: white;
  color: gold;
}

#buttonTopRow {
  height:100px;
  width:100px;
  font: "Comic Sans MS", emphasis, sans-serif;
  font-size: 20px;
  display: inline-block;
  background-color: grey;
  color: white;
  padding: 25px;
  border-color: black;
  border-width: thick;
  border-radius: 50px;
  margin: 0px;
}

#buttonTopRow:hover {
  background-color: white;
  color: grey;
}

/*want to align last row to right and colspan zero button "2"*/
/* .row5 {
  text-align: right;
} */
