table{
  border: 15px solid black;
  border radius: 10px,10px,10px,10px;
  background-color: skyblue;
  border-collapse: collapse;
  text-align: center;
}

h1{
  margin-top: 2%;
  font: "Times New Roman", Times, serif;
  font-size: 50px;
}

#input {
  border: 10px solid red;
  margin: auto;
  height: 50px;
  width: 200px;
  font-size: 30px;
  margin-bottom: 5%;
}

#button {
  height:100px;
  width:100px;
  font: "Comic Sans MS", emphasis, sans-serif;
  font-size: 20px;
  display: inline-block;
  background-color: white;
  color: violet;
  padding: 25px;
  border-color: violet;
  border-width: thick;
  border-radius: 50px;
  margin: 0px;
}

#button:hover {
  background-color: violet;
  color: white;
}

#buttonOperations {
  height:100px;
  width:100px;
  font: "Comic Sans MS", emphasis, sans-serif;
  font-size: 20px;
  display: inline-block;
  background-color: gold;
  color: white;
  padding: 25px;
  border-color: #DAA520;
  border-width: thick;
  border-radius: 50px;
  margin: 0px;
}

#buttonOperations:hover {
  background-color: white;
  color: gold;
}

#buttonTopRow {
  height:100px;
  width:100px;
  font: "Comic Sans MS", emphasis, sans-serif;
  font-size: 20px;
  display: inline-block;
  background-color: grey;
  color: white;
  padding: 25px;
  border-color: black;
  border-width: thick;
  border-radius: 50px;
  margin: 0px;
}

#buttonTopRow:hover {
  background-color: white;
  color: grey;
}

.row5 {
  float: right;
}

#signature{
  display: inline-block;
  font-size: 15px;
  font-family: "Snell Roundhand", cursive;
  font-style: italic;
  color: black;
  margin-left: 0px;
  padding-right: 15px;
}
